.contact_container,
.contact_subcontainer {
    margin: 0 auto;
}
body,
footer.contact section {
    background-color: var(--lightgreen)!important;
}
.contact_container,
footer.contact {
    background-color: var(--white)!important;
}
footer.contact svg path {
    fill: var(--lightgreen)!important;
}
#contact_page {
    margin-top: 30px;
}
.contact_container_items {
    display: flex;
    margin-top: 60px;
    gap: 100px;
    flex-direction: column;
    align-items: center;
}
.icon_social_media_contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icon_social_media_contact span {
    font-family: futura_bold;
    color: var(--lightcian);
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
}
.icon_social_media_contact img {
    height: 70px;
    margin-bottom: 25px;
}
@media only screen and (min-width: 700px) {
    #contact_page {
        margin-top: 0;
    }
    .contact_container_items {
        flex-direction: row;
        gap: 0;
        justify-content: space-around;
        margin-top: 100px;
    }
    .icon_social_media_contact img {
        height: 100px;
        margin-bottom: 28px;
    }
    .icon_social_media_contact span {
        font-size: 1.875rem;
    }
}