footer {
    background-color: var(--lightgreen);
    position: relative;
    z-index: 1000;
    padding-top: 100px;
}
footer section {
    background-color: var(--white);
}
.container_footer_info {
    padding: 60px 0;
    gap: 30px;
    flex-direction: column;
    margin: 0 auto;
}
.footer_social_container {
    flex-direction: column;
    margin-top: 1rem;
    flex-direction: column;
    gap: 5px;
}
.footer_copy {
    justify-content: end;
    font-family: helvetica_regular;
    font-size: 0.875rem;
    color: var(--cian);
}
.footer_social img {
    height: 18px;
}
.footer_contact a,
.footer_social label {
    font-family: helvetica_bold;
    font-size: 1rem;
    color: var(--cian);
}
.footer_social a {
    font-family: helvetica_bold;
    font-size: 0.75rem;
    color: var(--cian);
    align-items: center;
    justify-content: space-between;
    width: 130px;
}
@media only screen and (min-width: 700px) {
    .container_footer_info {
        flex-direction: row;
        width: 670px;
        justify-content: space-between;
    }
    .footer_social_container {
        margin-top: 1rem;
    }
    .footer_contact a,
    .footer_social label {
        font-size: 1.125rem;
    }
    .footer_social a {
        font-size: 0.875rem;
    }
    .footer_copy {
        align-items: end;
        font-size: 1.25rem;
    }
    .footer_copy span {
        height: min-content;
    }
}
.home_wave-container {
    margin-bottom: -8px;
}
