#history label,
section.hero span {
    font-family: futura_bold;
    color: var(--cian);
}
.more_about_me p,
.technologie_items .left .item span,
.technologie_items .right .item h4 {
    color: var(--white);
}
section.hero {
    margin-top: 2rem;
    width: 100vw;
    position: relative;
    flex-direction: column;
    z-index: 100;
}
.hero-div_info {
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 4.6875rem;
    z-index: 1000;
}
section.hero .image {
    margin: 25px 0 30px;
    height: 300px;
}
section.hero .image img {
    width: 220px;
    height: 300px;
    border-radius: 80px 0;
    object-fit: cover;
}
.hero_span-container {
    width: 100%;
    margin-bottom: 20px;
}
.home_wave-container {
    width: 100vw;
    z-index: 1;
    position: relative;
    left: 0;
    bottom: -8px;
}
.home-about_me {
    width: 100vw;
    background-color: var(--white);
    position: relative;
    z-index: 1;
    padding-top: 60px;
}
#overlay,
#overlay::after,
#overlay::before {
    position: absolute;
    top: -200px;
    left: 0;
    content: "";
    width: 100vw;
    height: calc(100% + 200px);
    z-index: 1;
}
.circulos .circulo{
    
}
#overlay::after {
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0.8;
    background: #d9eddf;
    background: linear-gradient(180deg, #d9eddf 0, #dce9dc 60%, #fff 100%);
}
#overlay::before {
    z-index: -1;
    background: linear-gradient(315deg, #00c6cf, #00c6cf, #00c6cf, #068488, #068488, #068488, #324b4c, #324b4c, #324b4c, #00c6cf, #00c6cf, #00c6cf, #068488, #068488, #068488, #324b4c, #324b4c, #324b4c);
    background-size: 1000% 1000%;
    -webkit-animation: 30s infinite AnimationN;
    -moz-animation: 30s infinite AnimationNa;
    -o-animation: 30s infinite AnimationNam;
    animation: 30s infinite AnimationName;
}
.home-about_me_history_container {
    background-color: transparent;
    position: relative;
    margin-top: 60px;
    justify-content: center;
}
@media only screen and (min-width: 500px) {
    section.hero {
        /* margin-top: 6.25rem; */
    }
    .hero-div_info {
        display: grid !important;
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: auto 50px;
        align-items: center;
        column-gap: 50px;
        margin-bottom: 0;
    }
    section.hero .image {
        grid-row: 1/4;
        grid-column: 2/3;
        margin: 0;
        height: auto;
    }
}
section.hero span {
    font-size: 0.875rem;
    max-width: 14.75rem;
    line-height: 20px;
    white-space: pre-line;
}
.more_about_me p,
section.hero p {
    font-family: helvetica_regular_light;
    font-size: 0.875rem;
    white-space: pre-line;
    line-height: 1.43;
    letter-spacing: 0.14px;
}
.technologie_items .right .item span,
section.hero p {
    color: var(--lightcian);
}
.history_container_lines {
    background-image: url(../img/lines/lines_mobile.webp);
    width: 100%;
    height: 100%;
    background-size: 100% 121%;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: -1000;
}
.history_container_hidden-lines {
    background-color: var(--white);
    width: 100%;
    height: 45vh;
    position: fixed;
    bottom: 0;
    z-index: -10;
    left: 0;
}
.home-about_me_container {
    width: 80%;
    margin: 0 auto;
}
#history {
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 70vw;
    padding-bottom: 100px;
}
.history_container_items {
    position: relative;
    z-index: 1000;
    max-width: 1091px !important;
}
.history_container_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left {
    align-items: start;
}
.right {
    align-items: end;
}
.right p {
    text-align: end;
}
.history_container_item:first-of-type {
    margin-top: 100px !important;
}
.more_about_me {
    margin: 0 auto 0;
    position: relative;
    z-index: 100;
}
.wave_history {
    position: absolute;
    left: 0;
    height: 120px;
    width: 100vw;
    bottom: 0;
}
.wave_history_false_background {
    background-color: var(--lightgreen);
    width: 100%;
    height: 100%;
}
.more_about_me_container_p {
    margin-top: 25px;
    padding: 24px 42px;
    background-color: var(--lightcian);
    border-radius: 50px 0;
    position: relative;
    z-index: 1000;
}
.wave_history .home_wave-container {
    position: absolute;
    top: 0;
    margin-top: -5px;
}
@media only screen and (min-width: 100px) {
    .history_container_item {
        height: fit-content;
    }
}
#history label {
    font-size: 1rem;
    letter-spacing: 0.2px;
}
#history .history_container_item p {
    font-size: 0.6rem;
    color: var(--cian);
    line-height: 1.67;
    letter-spacing: 0.12px;
    font-family: helvetica_regular_light;
    width: 80%;
    margin-top: 15px;
}
@media only screen and (min-width: 300px) {
    #history label {
        font-size: 1.25rem;
    }
    #history .history_container_item p {
        font-size: 0.75rem;
    }
}
#photography,
#technologies {
    background-color: var(--lightgreen);
    padding-top: 100px;
    position: relative;
    z-index: 1000;
}
#technologies .technologies_container,
.photography_container {
    margin: 0 auto;
}
.technologie_items {
    flex-direction: column;
    margin-top: 3.75rem;
    gap: 50px;
}
.technologie_item_container_main {
    width: 100%;
}
.technologie_item_container_main.right {
    justify-content: end;
}
.technologie_items .item {
    height: fit-content;
    width: 230px;
}
.technologie_items h4 {
    padding: 20px 0 0 30px;
}
.technologie_items .left .item {
    background-color: var(--white);
    border-radius: 50px 0;
}
.technologie_items .left .item .technologie_items_container_technologies div,
.technologie_items .right .item {
    background-color: var(--lightcian);
}
.photography_container_photos #container_image_long img,
.technologie_items .right .item {
    border-radius: 0 50px;
}
.technologie_items_container_technologies {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
}
.technologie_items_container_technologies div {
    width: 100px;
    height: 30px;
    border-radius: 50px;
}
.technologie_items_container_technologies div:last-of-type {
    margin-bottom: 40px;
}
.technologie_items .right .item .technologie_items_container_technologies div {
    background-color: var(--white);
}
@media only screen and (min-width: 700px) {
    .history_container_lines {
        background-image: url(../img/lines/lines_desktop.webp);
        width: 85vw;
        height: 84%;
    }
    #history {
        gap: 200px;
        width: 70vw;
        padding-bottom: 0;
    }
    .history_container_item {
        margin-top: 0 !important;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 280px;
    }
    .history_container_item::before {
        position: absolute;
        content: "";
        background-color: var(--lightcian);
        top: 0;
        width: 90%;
        max-width: 600px;
        height: 100%;
        z-index: -1;
    }
    #history .history_container_item.right::before {
        right: -100px !important;
        border-radius: 0 180px;
    }
    #history .history_container_item.left::before {
        left: -100px !important;
        border-radius: 180px 0;
    }
    .history_container_item:first-of-type {
        margin-top: 150px !important;
    }
    #history label {
        font-size: 2rem;
        color: var(--white);
    }
    #history .history_container_item p {
        font-size: 0.85rem;
        color: var(--white);
        width: 45%;
    }
    #technologies {
        padding-top: 180px;
    }
    .technologie_items .item {
        width: 85%;
        max-width: 500px;
    }
    .technologie_items_container_technologies {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 30px;
        margin: 20px 10% 30px;
    }
    .technologie_items_container_technologies div:last-of-type {
        margin-bottom: 0;
    }
    .technologie_items h4 {
        padding: 30px 0 0 10%;
    }
    .technologie_items {
        gap: 60px;
    }
    .technologie_items .left .item {
        border-radius: 80px 0;
    }
    .technologie_items .right .item {
        border-radius: 0 100px;
    }
}
.technologie_items .item span {
    font-family: helvetica_bold;
    font-size: 0.75rem;
}
@media only screen and (min-width: 1000px) {
    section.hero .image img {
        width: 350px;
        height: 460px;
        border-radius: 150px 0;
    }
    .home-about_me_history_container {
        margin-top: 100px;
    }
    .hero_span-container {
        /* margin: 50px 0; */
    }
    section.hero span {
        font-size: 1.5625rem;
        line-height: 33px;
    }
    section.hero p {
        font-size: 1.5625rem;
        line-height: 1.2;
        letter-spacing: 0.38px;
    }
    .history_container_lines {
        width: 85%;
        height: 100%;
        background-size: 100% 101%;
    }
    .history_container_item:first-of-type {
        margin-top: 200px !important;
    }
    .more_about_me {
        /* margin-top: 20rem; */
        padding-top: 20rem;
    }
    .wave_history {
        /* bottom: 600px; */
        top: 0;
        height: 200px;
    }
    .wave_history_false_background {
        height: 1000px;
    }
    .more_about_me_container_p {
        max-width: 1364px;
        padding: 82px 108px;
        border-radius: 260px 0;
        margin-top: 80px;
        background-color: var(--white);
    }
    #history label {
        font-size: 2.5rem;
    }
    #history .history_container_item p {
        font-size: 0.9375rem;
    }
    .more_about_me p {
        font-size: 1.5625rem;
        max-width: 812px;
        margin: 0 auto;
        line-height: 1.33;
        letter-spacing: 0.45px;
        color: var(--lightcian);
    }
    .technologie_items .item {
        width: min-content;
        max-width: 1000px;
    }
    .technologie_items_container_technologies {
        margin: 30px 140px 40px 10%;
        min-width: 630.5px;
    }
    .technologie_items_container_technologies div {
        width: 183.33px;
        height: 55px;
    }
    .technologie_items .left .item {
        border-radius: 150px 0;
    }
    .technologie_items .right .item {
        border-radius: 0 150px;
    }
    .technologie_items h4 {
        padding: 40px 0 0 10%;
    }
    .technologie_items .item span {
        font-size: 1.125rem;
    }
}
@media only screen and (min-width: 1500px) {
    .more_about_me p,
    section.hero p,
    section.hero span {
        font-size: 1.875rem;
    }
    .hero-div_info {
        column-gap: 126px;
    }
    section.hero .image img {
        width: 426px;
        height: 640px;
        border-radius: 213px 0;
    }
    section.hero span {
        line-height: normal;
        max-width: 500px;
        display: inline-block;
    }
    section.hero p {
        line-height: 1.33;
        letter-spacing: 0.45px;
    }
    .more_about_me_container_p {
        width: 80%;
        padding: 93px 150px;
    }
    #history label {
        font-size: 2.8125rem;
    }
    #history .history_container_item p {
        font-size: 1.125rem;
    }
    .technologie_items .item span {
        font-size: 1.25rem;
    }
}
.photography_container_photos {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    gap: 50px;
}
.photography_container_photos #container_image_wide {
    width: 100%;
    height: 300px;
}
.photography_container_photos #container_image_long {
    width: 50%;
    height: 250px;
}
.photography_container_photos #container_image_long img,
.photography_container_photos #container_image_wide img {
    width: 100%;
    object-fit: cover;
    min-height: 100%;
    height: 100%;
}
.photography_container_photos #container_image_wide img {
    width: 100%;
    border-radius: 50px 0;
}
@media only screen and (min-width: 1000px) {
    .photography_container_photos {
        flex-direction: row;
        height: 600px;
        margin-top: 80px;
    }
    .photography_container_photos #container_image_wide {
        width: 70%;
    }
    .photography_container_photos #container_image_long {
        width: 30%;
    }
    .photography_container_photos #container_image_long,
    .photography_container_photos #container_image_long img,
    .photography_container_photos #container_image_wide,
    .photography_container_photos #container_image_wide img {
        min-height: 100%;
        height: 100%;
    }
    .photography_container_photos #container_image_long img {
        border-radius: 0 150px;
    }
    .photography_container_photos #container_image_wide img {
        border-radius: 150px 0;
    }
}
.show_off {
    animation: 4s opaci;
}
@-webkit-keyframes AnimationN {
    0%,
    100% {
        background-position: 0 4%;
    }
    50% {
        background-position: 100% 97%;
    }
}
@-moz-keyframes AnimationNa {
    0%,
    100% {
        background-position: 0 4%;
    }
    50% {
        background-position: 100% 97%;
    }
}
@-o-keyframes AnimationNam {
    0%,
    100% {
        background-position: 0 4%;
    }
    50% {
        background-position: 100% 97%;
    }
}
@keyframes AnimationName {
    0%,
    100% {
        background-position: 0 4%;
    }
    50% {
        background-position: 100% 97%;
    }
}
@keyframes opaci {
    0%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
}
.sub_section_more_about_me{
    position: relative;
}