.flex,
.flex-center {
    display: flex;
}
a,
button,
li,
ul {
    text-decoration: none !important;
}
* {
    margin: 0;
    border: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0;
}
:root {
    --cian: #324b4c;
    --lightcian: #068488;
    --lightblue: #00c6cf;
    --blue: #121437;
    --lightgreen: #d9eddf;
    --lightgreen2: #dce9dc;
    --white: #ffffff;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
body {
    position: relative;
    z-index: -100;
}
li,
ul {
    list-style-type: none;
}
a,
button {
    background-color: transparent;
}
a {
    cursor: pointer;
}
@font-face {
    font-family: futura_bold;
    font-display: swap;
    src: url("../fonts/futura/futura_bold.ttf");
}
@font-face {
    font-family: futura_medium;
    font-display: swap;
    src: url("../fonts/futura/futura_medium.ttf");
}
@font-face {
    font-family: helvetica_bold;
    font-display: swap;
    src: url("../fonts/helvetica/helvetica_bold.ttf");
}
@font-face {
    font-family: helvetica_regular;
    font-display: swap;
    src: url("../fonts/helvetica/helvetica_regular.ttf");
}
@font-face {
    font-family: helvetica_regular_light;
    font-display: swap;
    src: url("../fonts/helvetica/helvetica_regular.ttf");
}
a,
button,
h1,
h2,
h3,
label,
p,
span {
    text-rendering: optimizeLegibility;
    margin: 0;
    border: 0;
    padding: 0;
}
h1,
h2 {
    font-family: helvetica_bold;
    font-size: 2.1875rem;
    line-height: 35px;
    color: var(--cian);
}
h3 {
    font-family: futura_bold;
    font-size: 1.125rem;
    color: var(--lightblue);
    margin-top: 10px;
    max-width: 200px;
}
h4 {
    font-family: futura_medium;
    font-size: 1.125rem;
    color: var(--lightcian);
    letter-spacing: 0.2px;
}
@media only screen and (min-width: 1000px) {
    h1,
    h2 {
        font-size: 5rem;
        line-height: normal;
    }
    h3 {
        font-size: 1.375rem;
        max-width: 500px;
    }
    h4 {
        font-size: 2.5rem;
    }
}
.max_resolution {
    width: 80vw;
    max-width: 318px;
}
@media only screen and (min-width: 500px) {
    .max_resolution {
        max-width: 1200px;
        width: 80vw;
    }
}
@media only screen and (min-width: 1500px) {
    h1,
    h2 {
        font-size: 6.25rem;
    }
    h3 {
        font-size: 1.875rem;
    }
    h4 {
        font-size: 2.8125rem;
    }
    .max_resolution {
        max-width: 1364px;
        column-gap: 126px;
    }
}
::selection {
    background: var(--cian);
    color: var(--white);
}
