body {
    background-color: var(--lightgreen);
}
#works_section {
    margin: 100px auto 0;
}
table {
    width: 100%;
    margin-top: 60px;
}
table tbody {
    background-color: var(--white);
    border-radius: 20px;
    display: block;
    padding-bottom: 5px;
}
table tr {
    display: flex;
    border-bottom: 2px solid var(--lightcian);
    margin: 0 22px;
    gap: 20px;
}
table .head {
    margin: 0;
    background-color: var(--lightcian);
    border-radius: 20px 20px 0 0;
    padding: 0 22px;
}
table tr td,
table tr th {
    padding: 15px 0;
}
table tr td:first-of-type,
table tr th:first-of-type {
    width: 30%;
}
table tr td:nth-child(2),
table tr th:nth-child(2) {
    width: 70%;
}
.column_four,
.column_three {
    display: none;
}
@media only screen and (min-width: 700px) {
    table tbody {
        border-radius: 40px;
    }
    table .head {
        border-radius: 40px 40px 0 0;
    }
    .column_four,
    .column_three {
        display: block;
    }
    table tr td:first-of-type,
    table tr td:last-of-type,
    table tr th:first-of-type,
    table tr th:last-of-type {
        width: 10% !important;
    }
    table tr td:nth-child(2),
    table tr td:nth-child(3),
    table tr th:nth-child(2),
    table tr th:nth-child(3) {
        width: 40% !important;
    }
    .column_three {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .column_three span {
        font-size: 0.625rem;
        color: var(--white);
        background-color: var(--lightcian);
        padding: 7px 20px;
        border-radius: 20px;
    }
    .column_four {
        text-align: center !important;
    }
    table tr td,
    table tr th {
        padding: 25px 0;
    }
}
#works_section a:link,
#works_section a:visited {
    color: var(--blue);
}
#works_section a:hover {
    color: var(--cian);
    border-bottom: 2px solid var(--cian);
}
#table_works th {
    font-family: futura_bold;
    color: var(--white);
    text-align: start;
    font-size: clamp(0.875rem, 1.23vw + 1rem, 1.563rem);
}
#table_works td {
    font-family: futura_medium;
    color: var(--cian);
    text-align: start;
    font-size: clamp(0.714rem, 1.5vw + 0.5rem, 1.125rem);
    margin: auto 0;
}
